torch==2.7.0
torchvision==0.22.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
Pillow==11.1.0
scipy==1.15.2
python-json-logger==3.3.0
opencv-python==4.11.0.86
kornia==0.8.1
seaborn==0.13.2
matplotlib==3.9.4